# Node modules
node_modules/

# Arquivo de lock
package-lock.json

# Pastas de sessão do WhatsApp Web
.wwebjs_auth/

# Logs ou arquivos temporários
*.log
node_modules/
.wwebjs_auth/
.wwebjs_cache/
*.log
package-lock.json
